* {
  margin: 0;
  padding: 0;
}
@import url(fontstyle.css);
/*
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/League Gothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/League Gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League Gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/League Gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/League Gothic/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Open Sans/opensans-light-webfont.eot');
    src: url('../fonts/Open Sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open Sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/Open Sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/Open Sans/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
body {
 }

.wrapper {
  width: 100%;
  max-width: 2400px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.wrapper__mountains_bg {
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
}

/*HEADER*/

.header {
  max-width: 960px;
  margin: 0px auto 0px;
  padding: 0 0 160px 0;
}

.logo__header {
  width: 15.8%;
  float: left;
  padding-top: 69px;
  margin-right: 122px;
}

.menu__item {
  float: left;
  list-style: none;
}

.menu__link {
  display: block;
  margin: 71px 0 0 52px;
  text-decoration: none;
  font-size: 24px;
  font-family:'League Gothic', regular;
}

.menu__link span {
  color: #ffffff;
  text-shadow: 1px 2px 1px #625b5c;
}

.menu__link:hover {
  text-decoration: underline;
  color: #edbfff;
}

.dropdown__menu {
  display: none;
}

.wrapper__black_opacity_bg {
  background: rgba(0, 0, 0, 0.2);
}

/*SCROLL*/

.scroll {
  max-width: 960px;
  margin: 0 auto;
  padding: 72px 0 80px 0;
  position: relative;
}

.scroll__content {
  width: 54%;
}

.scroll__title1 {
  margin-top: 10px;
  font-size: 60px;
  color: #ffffff;
  line-height: 52px;
  text-shadow: 0 2px 1px #625b5c;
  font-family:'League Gothic', regular;
}

.scroll__title2 {
  margin-bottom: 2px;
  font-size: 32px;
  color: #edbfff;
  text-shadow: 0 2px 1px #625b5c;
  font-family:'League Gothic', regular;
}

.text {
  font: 18px "Open Sans Light";
  color: #ffffff;
}

.iphone_img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  right: 75px;
  bottom: 44px;
}

.scroll__icon {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 169px;
}

.scroll__image {
  position: absolute;
  top: 93px;
  right: 167px;
}

.wrapper__purple_bg {
  background: -moz-linear-gradient(to top, #322539, #745083);
  background: linear-gradient(to top, #322539, #745083);
  border-top: 2px solid #33253a;
  border-bottom: 2px solid #0d151b;
}

/*ABOUT*/

.about {
  max-width: 960px;
  margin: 0 auto;
  padding: 72px 0 65px 0;
}

.about__column--left {
  float: left;
  width: 24%;
  margin-left: 64px;
  position: relative;
}

.about__column--left:before {
  content: " ";
  display: block;
  width: 30px;
  height: 27px;
  background: url(../img/icon_about.png) no-repeat;
  position: absolute;
  top: 11px;
  left: -51px;
}

.about__column--middle {
  float: left;
  width: 24%;
  margin-left: 108px;
  position: relative;
}

.about__column--middle:before {
  content: " ";
  display: block;
  width: 30px;
  height: 27px;
  background: url(../img/icon_about.png) no-repeat -35px 0;
  position: absolute;
  top: 11px;
  left: -54px;
}

.about__column--right {
  float: left;
  width: 24%;
  margin-left: 96px;
  position: relative;
}

.about__column--right:before {
  content: " ";
  display: block;
  width: 30px;
  height: 27px;
  background: url(../img/icon_about.png) no-repeat -75px 0;
  position: absolute;
  top: 12px;
  left: -52px;
}

.header__about {
  font-family: OpenSans, sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 2px 1px #15181e;
  margin-bottom: 4px;
}

.about .text {
  font-family: OpenSans, sans-serif;
  display: block;
  width: 100%;
  height: 120px;
  overflow: hidden;
  text-overflow: clip;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 1px 2px 1px #15181e;
}

.about__read_more {
  display: block;
  float: right;
  margin: 18px 11px 0 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  text-shadow: 1px 2px 1px #15181e;
}

.about__read_more:hover {
  text-shadow: 0px 1px 15px #ffffff;
}

.wrapper__light_grey_bg {
  background: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0px 1px 0px 0px #fefefe;
}

.sidebar {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 88px;
  position: relative;
}

/*BLOG*/

.blog__sidebar {
  float:left;
  width: 36%;
  height: 247px;
  margin: 99px 0 0 22px;
  padding: 26px 40px 0 40px;
  background: #ffffff;
  border: 1px solid #efefef;
  position: relative;
}

.blog__sidebar:after {
  content: " ";
  position: absolute;
  border: 20px solid transparent;
  border-top: 20px solid #ffffff;
  border-right: 20px solid #ffffff;
  bottom: -21px;
  right: 41px;
}

.blog__picture {
  position: absolute;
  top: 19px;
  left: -23px;
}

.blog__sidebar .text {
  display: block;
  height: 168px;
  overflow: hidden;
  text-overflow: clip;
  color: #454545;
  font-size: 16px;
  line-height: 24px;
}

.header__blog {
  color: #454545;
  font-size: 30px;
  margin-bottom: 7px;
}

.header__blog span {
  color: #edbfff;
}

.scroll__blog_img {
  position: absolute;
  bottom: 71px;
  left: 194px;
}

/*UPDATES*/

.updates__sidebar {
  float: left;
  width: 47%;
  margin: 125px 0 0 59px;
}

.updates__sidebar .text {
  color: #454545;
  font-size: 16px;
}

.main__header_updates {
  color: #454545;
  font-size: 30px;
  margin-bottom: 18px;
  font-family: LeagueGothic, sans-serif;
}

.header__updates {
  font: 16px "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}

.updates__info--first, .updates__info--second, .updates__info--third {
  margin: 0 0 23px 68px;
  position: relative;
}

.updates__picture {
  position: absolute;
  top: -5px;
  left: -66px;
}

.updates__read_more_960 {
  float: right;
  margin-right: 18px;
  text-decoration: none;
  font-size: 19px;
  color: #454545;
}

.updates__read_more_768 {
  display: none;
}

/*BRANDS*/

.footer__brands {
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0 30px 0;
}

.item__brand {
  width: 104px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

.brand_first {
  background: url(../img/brands.png) no-repeat;
  margin-left: 94px;
}

.brand_second {
  background: url(../img/brands.png) no-repeat -134px 0;
  margin-left: 28px;
}

.brand_third {
  background: url(../img/brands.png) no-repeat -270px 0;
  margin-left: 30px;
}

.brand_fourth {
  background: url(../img/brands.png) no-repeat -410px 0;
  margin-left: 33px;
}

.brand_fifth {
  background: url(../img/brands.png) no-repeat -527px 0;
  margin-left: 11px;
}

.brand_sixth {
  background: url(../img/brands.png) no-repeat -694px 0;
  margin-left: 60px;
}

.wrapper__grey_bg {
  background: #ececec;
}

/*FOOTER COLUMNS*/

.footer__columns {
  max-width: 960px;
  margin: 0 auto;
  padding: 87px 0 96px 0;
}

.logo__footer p {
  font-size: 48px;
  color: #454545;
  text-shadow: 1px 2px 1px #ffffff;
  font-family: LeagueGothic, sans-serif;
}

.logo__footer span {
  color: #b9b9b9;
}

.copyright__footer {
  margin: 6px 0 10px 0;
  font: 15px "Open Sans Light";
  font-style: italic;
  color: #cacaca;
  text-shadow: 1px 2px 1px #ffffff;
}

.column__footer--left {
  float: left;
  width: 30%;
}

.column__footer--left .text {
  display: block;
  height: 115px;
  font-size: 16x;
  color: #787878;
  line-height: 24px;
  text-shadow: 1px 2px 1px #ffffff;
  overflow: hidden;
  text-overflow: clip;
  OpenSans, sans-serif;
}

.column__footer, .column__footer--comments {
  float: left;
  width: 30%;
  margin-left: 48px;
}

.column__footer_768 {
  display: none;
}

.header__column_footer  {
  margin: 6px 0 5px 0;
  font-size: 29px;
  color: #454545;
  text-shadow: 1px 2px 1px #ffffff;
  font-family: LeagueGothic, sans-serif;
}

.column__footer .text, .column__footer--comments .text{
  display: block;
  height: 167px;
  font-size: 17px;
  color: #787878;
  line-height: 24px;
  text-shadow: 1px 2px 1px #ffffff;
  overflow: hidden;
  text-overflow: clip;
}

.wrapper__bottom_bg {
  background: url(../img/bg_footer.jpg) no-repeat top center;
  background-size: cover;
}

/*MENU FOOTER*/

.bottom {
  max-width: 960px;
  margin: 0 auto;
}

.menu--bottom {
  float: left;
}

.menu--bottom .menu__link {
  padding-left: 0;
  margin: 44px 43px 46px 0;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 2px 1px #625b5c;
  font-family: LeagueGothic, sans-serif;
}

.designed__footer .text {
  margin-top: 51px;
  float: right;
  font-size: 12px;
}

.designed__footer .text span {
  font-weight: bold;
}

/*----------------WIDTH 768px------------------*/

@media screen and (max-width: 768px) {

.wrapper {
  max-width: 768px;
  }

/*HEADER*/

.header {
  max-width: 768px;
  margin-bottom: 75px;
}

.logo__header {
  float: none;
}

.menu__link {
  margin: 27px 52px 0 0;
 
}

/*SCROLL*/

.scroll {
  max-width: 768px;
  padding: 86px 0 115px 23px;
}

.scroll__title1 {
  font-size: 48px;
}

.scroll__title2 {
  font-size: 24px;
  margin: 3px 0 6px 0;
}

.scroll .text {
  display: block;
  width: 270px;
  height: 100px;
  overflow: hidden;
  text-overflow: clip;
  font-size: 15px;
  line-height: 26px;
}

.iphone_img {
  position: absolute;
  right: 71px;
  bottom: 51px;
}

.scroll__icon {
  max-width: 768px;
  padding-bottom: 154px;
}

.scroll__image {
  top: 36px;
  right: 163px;
}

/*ABOUT COMPANY*/

.about {
  max-width: 768px;
  padding: 72px 0 65px 0;
}

.about__column--left {
  margin-left: 63px;
}

.about__column--middle {
  margin-left: 68px;
}

.about__column--right {
  margin: 0 -2px 0 77px;
}

.about__column--middle:before, .about__column--right:before {
  top: 7px;
  left: -52px;
}

.header__about {
  font-size: 24px;
  margin-bottom: 2px;
}

.about .text {
  height: 143px;
}

.about__read_more {
  margin: 5px 38px 0 0;
}

.sidebar {
  max-width: 768px;
  padding-bottom: 86px;
}

/*BLOG*/

.blog__sidebar {
  padding-right: 0;
}

.blog__sidebar:after {
  display: none;
}

.header__blog {
  font-size: 24px;
  padding-top: 2px;
  margin-bottom: 31px;
  position: relative;
}

.header__blog span {
  position: absolute;
  top: 26px;
  left: 0;
}

.blog__sidebar .text {
  height: 148px;
}

.scroll__blog_img {
  left: 138px;
}

/*UPDATES*/

.updates__sidebar {
  margin-left: 54px;
}

.hide__updates {
  display: none;
}

.updates__info--first {
  margin-bottom: 25px;
}

.updates__info--second {
  margin-bottom: 26px;
}

.updates__info--third {
  margin-bottom: 20px;
}

.updates__read_more_960 {
  display: none;
}

.updates__read_more_768 {
  display: block;
  float: right;
  margin-right: 29px;
  text-decoration: none;
  font-size: 19px;
  color: #454545;
}

/*BRANDS*/

.footer__brands {
  max-width: 768px;
  padding: 26px 0 29px 0;
}

.brand_first {
  margin-left: 3px;
}

.brand_second {
  margin-left: 18px;
}

.brand_third {
  margin-left: 19px;
}

.brand_fourth {
  margin-left: 24px;
}

.brand_fifth {
  margin-left: 0;
}

.brand_sixth {
  margin-left: 51px;
}

/*FOOTER COLUMNS*/

.footer__columns {
  max-width: 768px;
  padding-top: 93px;
}

.column__footer--left, .column__footer--comments {
  display: none;
}

.column__footer {
  margin-left: 0px;
}

.column__footer_768 {
  display: block;
  float: left;
  width: 30%;
  margin-left: 35px;
}

.header__column_footer {
  font-size: 24px;
}

.column__footer .text {
  width: 205px;
}

.column__footer_768 .text {
  display: block;
  width: 205px;
  height: 167px;
  font-size: 17px;
  color: #787878;
  line-height: 24px;
  text-shadow: 1px 2px 1px #ffffff;
  overflow: hidden;
  text-overflow: clip;
}

/*BOTTOM*/

.bottom {
  max-width: 768px;
  padding-bottom: 90px;
  position: relative;
}

.designed__footer {
  position: absolute;
  top: 51px;
  right: 40px;
}

}

/*----------------WIDTH 480px------------------*/

@media screen and (max-width: 480px) {

.wrapper {
  max-width: 480px;
  }

/*HEADER*/

.header {
  max-width: 480px;
  margin-bottom: 26px;
}

.logo__header {
  width: 152px;
  margin: 0 auto;
}

.menu--header {
  display: none;
}

/*DROPDOWN MENU*/

.dropdown__menu {
  width: 245px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

.dropdown__menu--home .menu__link {
  margin: 0;
  line-height: 45px;
}

.dropdown__menu--home:hover {
  position: relative;
  background: rgba(43, 34,49, 0.8);
  border: 1px solid #121b22;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 1px 0px 0px rgba(82,62,90,1);
}

.submenu {
  display: none;
  position: absolute;
  left: -1px;
  width: 245px;
  z-index: 1;
}

.submenu .menu__item {
  float: none;
}

.submenu .menu__link {
  margin: 0;
  line-height: 40px;
  color: #ffffff;
  background: rgba(43, 34,49, 0.8);
  border: 1px solid #121b22;
  border-top: 1px solid #523e5a;
  box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
}

.border__radius_bottom {
  border-radius: 0 0 10px 10px;
}

.dropdown__menu--home:hover .submenu {
  display: block;
}

.submenu .menu__link:hover {
  display: block;
  background: #2b2231;
  text-decoration: none;
  border-bottom: 2px solid #edbfff;
}

/*SCROLL*/

.scroll {
  max-width: 480px;
  padding: 83px 0 96px 40px;
}

.scroll .text {
  display: none;
}

.scroll__title1 {
  font-size: 36px;
  line-height: 36px;
}

.scroll__title2 {
  font-size: 18px;
  margin: 0;
}

.iphone_img {
right: 35px;
bottom: 10px;
}

.scroll__icon {
  max-width: 480px;
  padding-bottom: 97px;
}

.scroll__image {
  top: 20px;
  right: 194px;
}

/*ABOUT*/

.about {
  max-width: 480px;
  padding: 74px 0 48px 0;
}

.about__column--left, .about__column--middle, .about__column--right {
  width: 78%;
  margin: 0 0 21px 83px;
}

.about .text {
  height: 75px;
}

.about__column--left:before, .about__column--middle:before, .about__column--right:before {
  top: 6px;
  left: -50px;
}

.about__read_more {
  margin: 9px 3px 0 0;
}

/*BLOG*/

.sidebar {
  max-width: 480px;
  padding-bottom: 68px;
}

.blog__sidebar {
  width: 71%;
  margin: 70px 0 0 44px;
  padding: 20px 35px 5px 39px;
}

.header__blog {
  font-size: 30px;
  padding-top: 3px;
  margin-bottom: 11px;
  position: static;
}

.header__blog span {
  position: static;
}

.blog__sidebar .text {
  height: 167px;
}

.scroll__blog_img {
  top: 365px;
  left: 204px;
}

/*UPDATES*/

.updates__sidebar {
  margin: 83px 0 19px 83px;
  width: 70%;
}

.updates__read_more_768 {
  margin: -3px 0 0 0;
}

/*BRANDS*/

.footer__brands {
  max-width: 480px;
  padding: 37px 0 39px 0;
}

.brand_first {
  margin-left: 83px;
}

.brand_first, .brand_second, .brand_third {
  margin-bottom: 25px;
}

.brand_fourth {
  margin-left: 69px;
}

.brand_fifth {
  margin-left: 0;
}

.brand_sixth {
  margin-left: 51px;
}

/*COLUMNS FOOTER*/

.footer__columns {
  max-width: 480px;
  padding: 70px 0 40px 0;
}

.column__footer, .column__footer_768 {
  width: 90%;
  margin: 0 0 51px 18px;
}

.column__footer .text, .column__footer_768 .text {
  height: 95px;
  width: 100%;
}

/*BOTTOM*/

.bottom {
  max-width: 480px;
  padding-bottom: 135px;
}

.menu--bottom .menu__link {
  margin: 44px 5px 0 20px;
}

.designed__footer {
  width: 130px;
  left: 177px;
}

}

/*----------------WIDTH 320px------------------*/

@media screen and (max-width: 320px) {

.wrapper {
  max-width: 320px;
}

.header {
  max-width: 320px;
}

.wrapper__black_opacity_bg {
  background: none;
}

/*SCROLL*/

.scroll {
  max-width: 320px;
  padding: 83px 0 65px 64px;
}

.scroll__content {
width: 90%;
}

.iphone_img {
  display: none;
}

.scroll__icon {
  max-width: 320px;
  padding-bottom: 96px;
}

.scroll__image {
  top: 11px;
  right: 114px;
}

/*ABOUT*/

.about {
  max-width: 320px;
  padding: 66px 0 42px 0;
}

.about__column--left, .about__column--middle, .about__column--right {
  width: 70%;
}

.about__column--middle {
  margin-bottom: 34px;
}

.about__read_more {
  margin-right: 13px;
}

/*BLOG*/

.sidebar {
  max-width: 320px;
}

.blog__sidebar {
  width: 58%;
  margin: 69px 0 0 44px;
  padding: 20px 35px 5px 35px;
}

.header__blog {
  font-size: 24px;
  padding-top: 2px;
  margin-bottom: 25px;
  position: relative;
}

.header__blog span {
  position: absolute;
  top: 26px;
  left: 0;
}

.scroll__blog_img {
  left: 140px;
}

/*UPDATES*/

.updates__sidebar {
  margin: 83px 0 19px 19px;
  width: 90%;
}

.hide_320 {
  display: none;
}

.main__header_updates {
  margin-bottom: 17px;
}

.updates__info--second {
  margin-bottom: 28px;
}

/*BRANDS*/

.footer__brands {
  max-width: 320px;
  padding: 52px 0 72px 0;
}

.brand_first {
  margin-left: 62px;
  margin-bottom: 62px;
}

.brand_second {
  margin-bottom: 62px;
}

.brand_third {
  margin-left: 71px;
  margin-bottom: 41px;
}

.brand_fourth {
  margin-left: 24px;
  margin-top: -3px;
  margin-bottom: 41px;
}

.brand_fifth {
  margin-left: 42px;
}

.brand_sixth {
  margin-left: 51px;
}

.footer__columns, .menu--bottom {
  display: none;
}

/*BOTTOM*/

.bottom {
  max-width: 320px;
  padding-bottom: 135px;
}

.designed__footer {
  position: static;
  display: block;
  margin: 0 auto;
}

}
